<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecovision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <div class="logo">Ecovision<span>.</span></div>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">
            <button class="btn">Get Started</button>
        </a>
    </nav>
</header>

<section class="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>
            Ecovision Deep Learning-<br>
            Model for Seasonal Detection<br>
            
        </h1>

        <p>
            Advanced AI System for Seasonal Change Detection in Plants
        </p>

        <a href="/signup">
            <button class="btn">Get Started</button>
        </a>
    </div>
</section>

</body>
</html>
